<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <span class="poppins-black">EJEQ JR.</span>
        <img src="../../../../assets/images/image-removebg-preview.png" alt="logoEJEQ">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <ul class="navbar-nav right">
  
          
            <li class="nav-item">
              <a
                href="/chat"
                class="nav-link"
                aria-current="page"
                style="cursor: pointer;"
                >Pesquisa</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                style="cursor: pointer;"
                >Como funciona?</a
              >
            </li>
          

            <li class="nav-item dropdown right">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img src="../../../../assets/images/dummyUser.png" class="logo" style="margin-right: 4px;" />
                Pedro
              </a>
            </li>
          </ul>
  
  
  
  
        
  
  
      </div>
    </div>
</nav>
  